<div layout="row" layout-align="center center">
    <md-button class="md-hue-1" ng-click="panelCtrl.selectTab(1)"
               ng-class="{'md-accent md-raised' : panelCtrl.isSelected(1)}">
        Description
    </md-button>
    <md-button class="md-hue-1" ng-click="panelCtrl.selectTab(2)"
               ng-class="{'md-accent md-raised' : panelCtrl.isSelected(2)}">
        Specifications
    </md-button>
    <md-button class="md-hue-1" ng-click="panelCtrl.selectTab(3)"
               ng-class="{'md-accent md-raised' : panelCtrl.isSelected(3)}">Reviews
    </md-button>
</div>
<md-divider></md-divider>
<md-whiteframe layout="column" layout-align="left" class="md-whiteframe-z1" layout
               layout-align="center center" ng-show="panelCtrl.isSelected(1)">
    <h4>Description</h4>

    <p>{{product.description}}</p>
</md-whiteframe>
<md-whiteframe layout="column" layout-align="left" class="md-whiteframe-z1" layout
               layout-align="center center" ng-show="panelCtrl.isSelected(2)">
    <h4>Specifications</h4>

    <p>{{product.specifications}}</p>
</md-whiteframe>
<md-whiteframe layout="column" layout-align="left" class="md-whiteframe-z1" layout
               layout-align="center center" ng-show="panelCtrl.isSelected(3)">
    <h4>Reviews</h4>

    <product-reviews product=product></product-reviews>
</md-whiteframe>